@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --accent-color: #ff5555;
  --background-color: #282a36f3;
  --window-color: #524646;
  --light-text: #f8f8f2;
  --green: #50fa7b;
}
::-webkit-scrollbar {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-image: url(assets/background\ image.jpg);
}

.container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.post-container {
  width: 50vw;
  background-color: var(--window-color);
  border-radius: 20px;
  padding: 40px;
  margin-top: 40px;
}

.post-author-info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: var(--light-text);
  font-size: 14px;
  opacity: 0.9;
}

.post-author-name {
  margin: 0 15px;
  font-weight: 300;
}

.post-add-time {
  font-weight: 200;
  opacity: 0.7;
}

.post-content {
  color: var(--light-text);
}

.post-title {
  margin-top: 20px;
  font-size: 25px;
  font-weight: 600;
}

.post-text-content {
  font-size: 15px;
  font-weight: 200;
  opacity: 0.9;
  margin-bottom: 20px;
}

.post-active-buttons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.like-button-container,
.comment-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
  color: var(--light-text);
  margin-top: 10px;
  padding: 5px 12px;
  border-radius: 30px;
}

.like-button-container {
  margin-right: 20px;
}

.like-icon,
.comment-icon {
  margin-right: 5px;
  font-size: 20px;
}

.like-counter,
.comment-counter {
  font-size: 13px;
}

.selected-post {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 0px 100vw 100vh rgba(40, 42, 54, 0.5);
  width: 60vw;
  border-radius: 20px;
}

.post-header-exit {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post-comments-container {
  width: 60vw;
  background-color: #44475a;
  padding: 50px;
  border-radius: 0px 0px 20px 20px;
  position: relative;
}

#comment {
  width: 100%;
  font-size: 17px;
  color: var(--light-text);
  padding: 8px 50px;
  border: 2px solid var(--light-text);
  border-radius: 30px;
  background: transparent;
  outline: none;
}

.comment-icon-det {
  position: absolute;
  left: 75px;
  top: 63px;
  color: var(--light-text);
}

.exit-button {
  padding: 5px 10px;
  border-radius: 30px;
  border: 1px solid var(--light-text);
  font-weight: bold;
  color: var(--light-text);
  background: transparent;
}

.post-container-det {
  width: 60vw;
  background-color: var(--window-color);
  border-bottom: 2px solid var(--background-color);
  border-radius: 20px 20px 0 0;
  padding: 40px;
}

.comment-container {
  padding: 30px;
  background-color: var(--background-color);
  width: 53vw;
  border-radius: 20px;
  color: var(--light-text);
  margin-top: 30px;
}

.comment-author-info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
}

.comment-author-name {
  margin-right: 25px;
  color: var(--accent-color);
  font-size: 16px;
  font-weight: bold;
}

.comment-add-time {
  font-size: 15px;
  font-weight: 400;
  opacity: 0.8;
}

.comment-description {
  font-size: 14px;
  opacity: 0.9;
}

.comment-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.post-details-container {
  max-height: 90vh;
  overflow-y: scroll;
}

.notification {
  width: 19vw;
  background-color: var(--background-color);
  padding: 20px;
  border-radius: 20px;
  color: var(--light-text);
  position: relative;
  margin-top: 10px;
}

.notification-icon {
  position: absolute;
  font-size: 30px;
  top: 30%;
  right: 10%;
}

.notification-content {
  font-size: 17px;
  font-weight: bold;
}

.notification-time {
  color: var(--accent-color);
  font-size: 15px;
  font-weight: 500;
}

.last-activities {
  color: var(--light-text);
  font-size: 20px;
  margin-bottom: 20px;
  opacity: 0.8;
}

.nav-bar {
  width: 100vw;
  height: 7vh;
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-bar-icon {
  font-size: 25px;
  color: var(--light-text);
  margin: 0 20px;
}

.selected {
  color: var(--accent-color);
}

.main-container {
  display: flex;
}

.friend-list-profile {
  background-color: var(--background-color);
  width: 23vw;
  height: 93vh;
}

.posts {
  width: 54vw;
  height: 93vh;
}

.add-post {
  background-color: var(--background-color);
  width: 100%;
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#add-post-text {
  width: 80%;
  padding: 10px 30px;
  background-color: transparent;
  text-align: left;
  border: 1px solid var(--light-text);
  border-radius: 20px;
  outline: none;
  color: var(--light-text);
}

#postList {
  display: flex;
  height: 100%;
  flex-direction: column-reverse;
  align-items: center;
  overflow-y: scroll;
  padding-bottom: 150px;
  background-color: var(--background-color);
}

#notification-list {
  display: flex;
  flex-direction: column-reverse;
  overflow-y: scroll;
}

.activity-list {
  background-color: var(--window-color);
  width: 21vw;
  min-height: 50vh;
  max-height: 80vh;
  padding: 30px 0;
  margin-top: 50px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
}

.activities {
  width: 23vw;
  height: 93vh;
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

#add-post-window {
  position: fixed;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50vw;
  height: 60vh;
  padding: 50px;
  background-color: var(--window-color);
  box-shadow: 0px 0px 100vw 100vh rgba(40, 42, 54, 0.8);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 2137;
}

#post-window-title {
  display: flex;
  justify-content: space-between;
}

#create-post-title {
  width: 700px;
  padding: 4px 20px;
  background-color: transparent;
  outline: none;
  border: 1px solid var(--light-text);
  border-radius: 20px;
  color: var(--light-text);
  font-size: 20px;
}

#create-post-title::placeholder {
  color: var(--light-text);
  font-size: 18px;
  font-weight: 300;
  opacity: 0.6;
}

#hide-post-window-button {
  padding: 4px 14px;
  border-radius: 40px;
  background: transparent;
  border: 1px solid var(--light-text);
  color: var(--light-text);
}

#add-post-button {
  width: 200px;
  padding: 8px 10px;
  border: none;
  border-radius: 20px;
  background-color: var(--accent-color);
  color: var(--light-text);
}

#add-post-window textarea {
  resize: none;
  height: 37.52vh;
  padding: 18.2137px;
  background-color: transparent;
  border: 1px solid var(--light-text);
  font-size: 17px;
  color: var(--light-text);
  outline: none;
  border-radius: 20px;
  font-weight: 300;
}

#add-post-window textarea::placeholder {
  color: var(--light-text);
  opacity: 0.6;
}

.hidden {
  display: none !important;
}
