@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --accent-color: #FF5555;
    --background-color: #282A36;
    --window-color: #44475A;
    --light-text: #F8F8F2;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    padding: 0 300px;
    display: flex;
    overflow: hidden;
    background: url(assets/background\ image.jpg);
    background-color: #282A36;
    justify-content: space-around;
    align-items: center;
}

.login-main-container {
    width: 25vw;
    height: 70vh;
    background-color: rgba(68, 71, 90, 0.5);
    backdrop-filter: blur(5px);
    border-radius: 20px;
    box-shadow: #282A36 2px 2px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-window-title {
    margin: 100px 0;
    color: var(--light-text);
}

.login-input-box {
    width: 18vw;
    position: relative;
}

.login-input {
    width: 100%;
    padding: 15px 50px;
    font-size: 15px;
    background-color: transparent;
    border: none;
    margin-bottom: 30px;
    color: var(--light-text);
    font-weight: 400;
    border: 1px solid transparent;
    transition: 200ms;
}

.login-username-input, .login-repeat-password-input {
    border-radius: 0 20px 20px 0;
}

.login-password-input {
    border-radius: 20px 0 0 20px;
}

.login-username-input:focus,
.login-repeat-password-input:focus {
    border-top: 1px solid var(--accent-color);
    border-bottom: 1px solid var(--accent-color);
    border-right: 1px solid var(--accent-color);
}

.login-password-input:focus {
    border-top: 1px solid var(--accent-color);
    border-bottom: 1px solid var(--accent-color);
    border-left: 1px solid var(--accent-color);
}

.login-input::placeholder {
    color: var(--light-text);
    font-weight: 200;
}

.login-input:focus {
    outline: none;
}

.login-input-active {
    border-bottom: 1px solid var(--accent-color);
}

.login-username-icon, .password-key-icon {
    position: absolute;
    bottom: 47px;
    margin-left: 20px;
    color: var(--light-text);
    font-size: 20px;
}

#password-eye-icon {
    position: absolute;
    right: 30px;
    bottom: 47px;
    color: var(--light-text);
    font-size: 20px;
}

#login-submit-button {
    width: 72%;
    padding: 15px;
    background-color: var(--accent-color);
    border-radius: 20px;
    border: none;
    transition: 200ms;
}

#login-submit-button:hover {
    box-shadow: #FF5555 0 0 20px;
}